@if (@Model.Count == 0)
{
  <p>No animals have been added yet!</p>
}
else
{
  <h1>Here is your list of Animals:</h1>
  <ul>
    @foreach (var animal in Model)
    {
      <li>@animal.GetName()</li>
    }
  </ul>
  <form action="/animals/delete" method="post">
    <button type="submit">Clear all animals</button>
  </form>
}
<p><a href="/animals/new">Add a new animal</a></p>
<p><a href="/">Return home</a></p>
