<h1>All animal types</h1>
@if (@Model.Count == 0)
{
  <p>There are no animal types.</p>
}
<ul>
  @foreach (var type in Model)
  {
    <li><a href="/types/@type.GetId()">@type.GetName()</a></li>
  }
</ul>
<a href="/types/new">Add new type</a>
